<main role="main" class="container">
  <div class="row">
    <div class="col-md-6">
      <h2 class="mt-5 pt-3">Photos</h2>
      <ngx-gallery
        *ngIf="galleryImages"
        [options]="galleryOptions"
        [images]="galleryImages"
        class="ngx-gallery"
      ></ngx-gallery>
    </div>
    <div *ngIf="carModel" class="col-md-6">
      <h2 class="mt-5 pt-3">Description</h2>
      <div [innerHTML]="carModel.description"></div>
    </div>
  </div>
</main>
<div style="margin: top 600px ;">
  <app-photo></app-photo></div>




